@model LunaBeauty.Models.Pedido

@{
    ViewData["Title"] = "Create";
}

<h1>Criar novo pedido</h1>

<h4>Pedidos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" class ="form-control" asp-items="ViewBag.ClienteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="VendedorId" class="control-label"></label>
                <select asp-for="VendedorId" class ="form-control" asp-items="ViewBag.VendedorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <br />

             @* ALTERAÇÃO DE QUASE TUDO AQUI *@
            <h5>Selecione a quantidade de itens do pedido.</h5>

            @{
                int index = 0; // Índice para os itens do pedido
            }

            @foreach (var produto in ViewBag.Produtos) // percorre a lista de produtos
            {
                <div class="mb-2"> @*so um bloco visual*@
                    <label>@produto.Nome</label> @*mostra o nome*@

                    <input type="hidden" name="Itens[@index].ProdutoId" value="@produto.ProdutoId" /> @*campo oculto para o id e nome do produto*@
                    <input type="number" name="Itens[@index].Quantidade"
                           class="form-control"
                           placeholder="Quantidade"/>

                </div>
                index++;
            }
           
            <br />
            <div class="form-group">
                <input type="submit" value="Criar novo pedido" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<br />

<div>
    <a class="btn btn-secondary" asp-action="Index">Voltar à lista</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

