@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Luar da beleza</h1>
    <p>Desperte sua beleza radiante com produtos que capturam a essência da lua e iluminam sua verdadeira essência.</p>
</div>
<br />



<div style="display:flex; align-items:center; gap:10px;">
    <img src="https://a2126b1ad7.cbaul-cdnwnd.com/393e5af7481449217fd39817e74ee403/200000125-a3d55a3d58/Picsart_24-10-17_10-39-35-962.webp?ph=a2126b1ad7" width="500" style="margin-right:50px;" />
    <span><h2>Luna Beauty</h2><br />Acreditamos que a verdadeira beleza está na naturalidade. Nossos produtos são desenvolvidos para realçar a essência única de cada mulher, com delicadeza e cuidado. Aqui, você encontra cosméticos que valorizam suas características, promovendo bem-estar e autoconfiança de forma suave e elegante. Com Luna Beauty, você descobre a beleza em sua forma mais autêntica, para se sentir radiante todos os dias.</span>
</div>

<br />
<br />

<div style="display:flex; align-items:center; gap:10px;">
    <span><h2>Beleza que inspira</h2><br />E vale reforçar um ponto de orgulho institucional: aqui na Luna Beauty, nomes de grande projeção no cenário internacional já adotam nossos produtos no seu day-to-day, como a incrível Hailey Bieber, referência global em beleza e estilo. Venha você também fazer parte dessa trajetória e consolidar seu lugar nessa história que só cresce.</span>
    <img src="https://a2126b1ad7.cbaul-cdnwnd.com/393e5af7481449217fd39817e74ee403/200000127-9280092802/Picsart_24-10-17_10-39-07-234.webp?ph=a2126b1ad7" width="500" style="margin-left:50px;" />
</div>
    
