@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Luar da beleza</h1>
    <p>Desperte sua beleza radiante com produtos que capturam a essência da lua e iluminam sua verdadeira essência.</p>
</div>
