@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>Política de Privacidade – Luna Beauty</h1>

<p>
    Na Luna Beauty, respeitamos sua privacidade e garantimos segurança ao acessar nosso site. Todos os nossos produtos são veganos e cruelty-free, e suas informações são tratadas com transparência e cuidado.
</p>
<p>
    <strong>Coleta de dados:</strong> Nome, e-mail, telefone, endereço, dados de pagamento e navegação no site.
</p>
<p>
    <strong>Uso das informações:</strong> Processamento de pedidos, melhoria da experiência do usuário, envio de novidades e cumprimento de obrigações legais.
</p>
<p>
    <strong>Compartilhamento de dados:</strong> Apenas com fornecedores essenciais (pagamento, transporte) ou quando exigido por lei.
</p>
<p>
    <strong>Segurança:</strong> Protegemos seus dados com criptografia e medidas de segurança confiáveis.
</p>
<p>
    <strong>Seus direitos (LGPD):</strong> Acessar, corrigir, excluir ou portar seus dados, e revogar consentimentos. <strong>Solicitações:</strong> privacidade@lunabeauty.com
</p>
<p>
<strong>Cookies:</strong> Usados para melhorar navegação, personalizar conteúdo e analisar desempenho do site.
</p>
<p>
    <strong>Atualizações:</strong> Alterações serão comunicadas no site ou por e-mail.
</p>
<p>
    <strong>Contato:</strong> privacidade@lunabeauty.com | (24) 4002-8922
</p>
<p>
    <strong>Última atualização:</strong> 24/11/2025
    </p>
